@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700');

body {
padding-top: 3.5rem;
background:#F08080;
font-family:'Arvo', serif;
font-weight:400;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 700;
}

.bg-lalala{
	background:hsl(170, 100%, 50%);
}

.bg-lalala:hover{
	background: hsl(170, 100%, 30%);
	transition:all ease .5s;
}


#gaga1{
	border:5px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius:30px;
	filter:blur(0px);

}

#gaga1:hover{
	border:5px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius:30px;
	filter:blur(2px);
	transition:all 1s ease-in;
}

#gaga2{
	border:5px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius:30px;
	filter:grayscale(100%);

}

#gaga2:hover{
	border:5px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	border-radius:30px;
	filter:grayscale(0%);
	transition:all 1s ease-in;
}



div[class^="col"] {
	padding-top:2rem;

}

nav div[class^="col"] {
	padding-top:0;
}